@import url("header.css");

:root {
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --cor-secundaria: #eb9b00;
}

body {
  background-color: var(--cor-de-fundo);
}
.container {
  display: flex;
  align-items: center;
}
